<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Template {{ book.aut_book }}</h1>

    Aut_book - {{ book.aut_book }}<br>
    Publish - {{ book.publish }}<br>
    Country - {{ book.publish }}<br>
    Name_book - {{ book.publish }}<br>
    Coin - {{ book.publish }}<br>
    Created - {{ book.publish }}<br>
    Updated - {{ book.publish }}<br>
    
</body>
</html>